<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link rel="stylesheet" href="~/login-form-14/css/style.css" />

    <!-- Select2 -->
    <link rel="stylesheet" href="~/select2-4.1.0-rc.0/dist/css/select2.min.css" />

    <!-- Toast -->
    <link rel="stylesheet" href="~/Toast/build/toastr.css" type="text/css" />

    <title>Universitas RIAU | Login</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="~/favicon/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="~/favicon/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="~/favicon/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/favicon/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="~/favicon/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="~/favicon/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="~/favicon/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="~/favicon/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/favicon/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="~/favicon/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="~/favicon/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon/favicon-16x16.png" />
    <link rel="manifest" href="~/favicon/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="~/favicon/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Login System</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="wrap d-md-flex">
                        <div class="img" style="background-image: url(../../Images/Logo_Universitas_Riau.png);background-size:contain;">
                        </div>
                        <div class="login-wrap p-4 p-md-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h3 class="mb-4">Sign In</h3>
                                </div>
                            </div>
                            <div>
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/login-form-14/js/jquery.min.js"></script>
    <script src="~/login-form-14/js/popper.js"></script>
    <script src="~/login-form-14/js/bootstrap.min.js"></script>
    <script src="~/login-form-14/js/main.js"></script>
    <!-- Select2 -->
    <script src="~/select2-4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- Toast -->
    <script src="~/Toast/toastr.js"></script>
    <!-- site -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- render scripts -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
