@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />
<!-- Font Awesome -->
<link rel="stylesheet" href="~/AdminLTE-3.2.0/plugins/fontawesome-free/css/all.min.css" />
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
<!-- Tempusdominus Bootstrap 4 -->
<link rel="stylesheet" href="~/AdminLTE-3.2.0/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" />
<!-- iCheck -->
<link rel="stylesheet" href="~/AdminLTE-3.2.0/plugins/icheck-bootstrap/icheck-bootstrap.min.css" />
<!-- JQVMap -->
<link rel="stylesheet" href="~/AdminLTE-3.2.0/plugins/jqvmap/jqvmap.min.css" />
<!-- Theme style -->
<link rel="stylesheet" href="~/AdminLTE-3.2.0/dist/css/adminlte.min.css" />
<!-- overlayScrollbars -->
<link rel="stylesheet" href="~/AdminLTE-3.2.0/plugins/overlayScrollbars/css/OverlayScrollbars.min.css" />
<!-- Daterange picker -->
<link rel="stylesheet" href="~/AdminLTE-3.2.0/plugins/daterangepicker/daterangepicker.css" />
<!-- summernote -->
<link rel="stylesheet" href="~/AdminLTE-3.2.0/plugins/summernote/summernote-bs4.min.css" />
<!-- DataTables -->
<link rel="stylesheet" href="~/AdminLTE-3.2.0/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" />
<link rel="stylesheet" href="~/AdminLTE-3.2.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" />
<link rel="stylesheet" href="~/AdminLTE-3.2.0/plugins/datatables-buttons/css/buttons.bootstrap4.min.css" />
<!-- Select2 -->
<link rel="stylesheet" href="~/select2-4.1.0-rc.0/dist/css/select2.min.css" />
<!-- Toast -->
<link rel="stylesheet" href="~/Toast/build/toastr.css" type="text/css" />

<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-12 col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 col-12">
                        <div class="input-group mb-3">
                            <span>E-mail : </span>
                            <input type="email" id="c_username" name="c_username"
                                   required class="form-control"
                                   placeholder="E-mail pengguna aplikasi"
                                   style="width:100%;" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-12">
                        <div class="input-group mb-3">
                            <span>Nama Pengguna : </span>
                            <input type="text" id="c_account_name" name="c_account_name"
                                   required class="form-control"
                                   placeholder="Nama Pengguna" style="width:100%;" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-12">
                        <div class="input-group mb-3">
                            <span>Alamat Pengguna : </span>
                            <textarea id="c_address" name="c_address"
                                      style="width:100%;height:100px;" class="form-control"
                                      placeholder="Alamat pengguna"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-12">
                        <div class="input-group mb-3">
                            <span>Telp Pengguna : </span>
                            <input type="number" id="c_phone" name="c_phone"
                                   required class="form-control"
                                   placeholder="Nomor telp Pengguna" style="width:100%;" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-12">
                        <div class="input-group mb-3">
                            <span>Jenis Kelamin : </span>
                            <select class="form-control select2" style="width:100%;"
                                    id="c_gender" name="c_gender">
                                <option value="0" selected="selected">Pilih jenis kelamin</option>
                                <option value="Laki-Laki">Laki-Laki</option>
                                <option value="Perempuan">Perempuan</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-12">
                        <div class="input-group mb-3">
                            <span>Password : </span>
                            <input type="text" id="c_password" name="c_password"
                                   required="required" class="form-control"
                                   placeholder="Password" style="width:100%;" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-8"></div>
                <div class="col-md-2 col-2">
                    <button type="button" id="cancelBTN" name="cancelBTN"
                            class="btn btn-warning form-control"
                            onclick="loadORrefresh()">
                        Cancel
                    </button>
                </div>
                <div class="col-md-2 col-2">
                    <button type="button" id="submit" name="submit"
                            class="btn btn-success form-control"
                            onclick="validateFormCreate()">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="~/AdminLTE-3.2.0/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="~/AdminLTE-3.2.0/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="~/AdminLTE-3.2.0/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- ChartJS -->
<script src="~/AdminLTE-3.2.0/plugins/chart.js/Chart.min.js"></script>
<!-- Sparkline -->
<script src="~/AdminLTE-3.2.0/plugins/sparklines/sparkline.js"></script>
<!-- JQVMap -->
<script src="~/AdminLTE-3.2.0/plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="~/AdminLTE-3.2.0/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
<!-- jQuery Knob Chart -->
<script src="~/AdminLTE-3.2.0/plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="~/AdminLTE-3.2.0/plugins/moment/moment.min.js"></script>
<script src="~/AdminLTE-3.2.0/plugins/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="~/AdminLTE-3.2.0/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Summernote -->
<script src="~/AdminLTE-3.2.0/plugins/summernote/summernote-bs4.min.js"></script>
<!-- overlayScrollbars -->
<script src="~/AdminLTE-3.2.0/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="~/AdminLTE-3.2.0/dist/js/adminlte.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/AdminLTE-3.2.0/dist/js/demo.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="~/AdminLTE-3.2.0/dist/js/pages/dashboard.js"></script>
<!-- DataTables  & Plugins -->
<script src="~/AdminLTE-3.2.0/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/AdminLTE-3.2.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/AdminLTE-3.2.0/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/AdminLTE-3.2.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/AdminLTE-3.2.0/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/AdminLTE-3.2.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/AdminLTE-3.2.0/plugins/jszip/jszip.min.js"></script>
<script src="~/AdminLTE-3.2.0/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/AdminLTE-3.2.0/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/AdminLTE-3.2.0/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/AdminLTE-3.2.0/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/AdminLTE-3.2.0/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- Select2 -->
<script src="~/select2-4.1.0-rc.0/dist/js/select2.min.js"></script>
<!-- Toast -->
<script src="~/Toast/toastr.js"></script>

<script type="text/javascript">
    $(function () {
        $('#c_gender').select2();
    });

    function validateFormCreate() {
        if (document.getElementById("c_username").value == "") {
            alert("E-mail Pengguna masih Kosong");
            document.getElementById("c_username").focus();
            return false;
        }
        if (document.getElementById("c_account_name").value == "") {
            alert("Nama pengguna masih Kosong");
            document.getElementById("c_account_name").focus();
            return false;
        }
        if (document.getElementById("c_address").value == "") {
            alert("Alamat masih Kosong");
            document.getElementById("c_address").focus();
            return false;
        }
        if (document.getElementById("c_phone").value == "") {
            alert("Nomor telp masih Kosong");
            document.getElementById("c_phone").focus();
            return false;
        }
        if (document.getElementById("c_gender").value == "0") {
            alert("Pilih jenis kelamin terlebih dahulu");
            document.getElementById("c_gender").focus();
            return false;
        }
        if (document.getElementById("c_password").value == "") {
            alert("Password masih Kosong");
            document.getElementById("c_password").focus();
            return false;
        }
        CreatedData();
    }

    function CreatedData(){
        var data = JSON.stringify({
            "email_pengguna": document.getElementById("c_username").value,
            "password_pengguna": document.getElementById("c_password").value,
            "nama_pengguna": document.getElementById("c_account_name").value,
            "alamat_pengguna": document.getElementById("c_address").value,
            "telp_pengguna": document.getElementById("c_phone").value,
            "kelamin_pengguna": document.getElementById("c_gender").value
        });

        var xhr = new XMLHttpRequest();
        xhr.withCredentials = true;

        xhr.addEventListener("readystatechange", function () {
            if (this.readyState === 4) {
                console.log(this.responseText);
            }
        });

        xhr.open("POST", "@Url.Action("CreatedData", "Pengguna", null,null)");
        xhr.setRequestHeader("Content-Type", "application/json");

        xhr.onload = function () {
            const obj = JSON.parse(this.responseText);

            if (obj.metadata.code == 200) {
                ShowToast('success', obj.metadata.message, 'Operation success');
                loadORrefresh();
            } else if (obj.metadata.code == 201) {
                ShowToast('error', obj.metadata.message, 'Operation error');
            } else if (obj.metadata.code == 202) {
                ShowToast('warning', obj.metadata.message, 'Operation failed');
            }
        }

        xhr.send(data);
    }
</script>